Repository Serapieum-of-alex/Hapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-notebook-check, doctest

examples-notebook-check:
  name: nbval
  entry: pytest --nbval
  language: system

doctest:
  name: doctest
  entry: pytest --doctest-modules
  language: system

add docstring and examples for the parameters.py module
  src/Hapi/parameters/parameters.py
  tests/rrm/parameters/test_parameters.py
Due: doctest

ignore fig_share tests in ci
  .github/workflows/conda-deployment.yml
  .github/workflows/pypi-deployment.yml
Due: none

ignore whitespaces and ellipsis in the pre-commit hooks
  .pre-commit-config.yaml
Due: none

move ignoring the whitespaces and ellipsis to the pre-commit hooks
  src/Hapi/parameters/parameters.py
Due: doctest

correct the downloaded parameters path
  src/Hapi/parameters/parameters.py
  tests/rrm/conftest.py
Due: doctest

make the download_dir optional for the `get_parameters` method
  src/Hapi/parameters/parameters.py
Due: doctest

mock the `os.path.dirname` to return the src/Hapi in ci instead of the package installation
  tests/rrm/test_rrm_inputs.py
Due: none

depend on HAPI_DATA_DIR environment variable to store the parameters
  .github/workflows/conda-deployment.yml
  .github/workflows/pypi-deployment.yml
  src/Hapi/inputs.py
Due: doctest

remove the mock
  tests/rrm/test_rrm_inputs.py
Due: none

use the `HAPI_DATA_DIR` environment variable in all methods in the `inputs` module.
  src/Hapi/inputs.py
  tests/rrm/conftest.py
Due: doctest

use the `HAPI_DATA_DIR` environment variable in all methods in the `parameters` module.
  src/Hapi/parameters/parameters.py
  tests/rrm/parameters/test_parameters.py
Due: doctest

clean
  .gitignore
Due: none

validate paths before reading data
  src/Hapi/inputs.py
Due: doctest

solve the issue of fig_share tests were not running with other tests
  pyproject.toml
  src/Hapi/parameters/parameters.py
  tests/rrm/conftest.py
  tests/rrm/parameters/test_parameters.py
Due: doctest

mock the mkdir method in the Parameter constructor method in the TestParameterMock
  tests/rrm/parameters/test_parameters.py
Due: none

mock the integration test for the get_parameters to download only one parameter set
  docs/Hydrological model/DistributedModel_calib.rst
  docs/Hydrological model/Lumped_run.rst
  examples/hydrological-model/Note books/coello-distributed-model-calibratation-.ipynb
  examples/hydrological-model/coello-lumped-model-calibration-deap-multiobjective-NSE-NSEHF.py
  examples/hydrological-model/coello-lumped-model-calibration.py
  examples/hydrological-model/coello-lumped-model-run-maxbas.py
  examples/hydrological-model/coello-lumped-model-run.py
  examples/hydrological-model/coello-totally-distributed-model-calibratation-muskingum.py
  pyproject.toml
  src/Hapi/parameters/download_parameters.py
  tests/rrm/parameters/test_parameters.py
Due: examples-notebook-check, doctest

mock the integration test for the get_parameters to download only one parameter set
  tests/rrm/parameters/test_parameters.py
Due: none

return the fig_share marker
  pyproject.toml
Due: none

add CLI for the parameters module
  pyproject.toml
  src/Hapi/parameters/download_parameters.py
  src/Hapi/parameters/parameters.py
  tests/rrm/parameters/test_parameters_cli.py
Due: doctest

correct wrong import of the descriptors module from statista
  docs/Hydrological model/DistributedModel_calib.rst
  docs/Hydrological model/Lumped_run.rst
  examples/hydrological-model/Note books/coello-distributed-model-calibratation-.ipynb
  examples/hydrological-model/coello-lumped-model-calibration-deap-multiobjective-NSE-NSEHF.py
  examples/hydrological-model/coello-lumped-model-calibration.py
  examples/hydrological-model/coello-lumped-model-run-maxbas.py
  examples/hydrological-model/coello-lumped-model-run.py
  examples/hydrological-model/coello-totally-distributed-model-calibratation-muskingum.py
Due: examples-notebook-check

add the `HAPI_DATA_DIR` to the documentations
  src/Hapi/parameters/parameters.py
Due: doctest

restrict the URL schemes allowed, to ensure that only permitted schemes like http and https are allowed
  src/Hapi/parameters/parameters.py
Due: doctest

add the changes to the history file
  HISTORY.rst
Due: none

replace the `urlretrieve` with `requests` for vulnerability
  src/Hapi/parameters/parameters.py
Due: doctest

update readthedoc config with build.os
  .readthedocs.yml
Due: none

BREAKING CHANGE: Redesing Parameters module (#136)
  .github/workflows/conda-deployment.yml
  .github/workflows/pypi-deployment.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  HISTORY.rst
  docs/Hydrological model/DistributedModel_calib.rst
  docs/Hydrological model/Lumped_run.rst
  examples/hydrological-model/Note books/coello-distributed-model-calibratation-.ipynb
  examples/hydrological-model/coello-lumped-model-calibration-deap-multiobjective-NSE-NSEHF.py
  examples/hydrological-model/coello-lumped-model-calibration.py
  examples/hydrological-model/coello-lumped-model-run-maxbas.py
  examples/hydrological-model/coello-lumped-model-run.py
  examples/hydrological-model/coello-totally-distributed-model-calibratation-muskingum.py
  pyproject.toml
  src/Hapi/inputs.py
  src/Hapi/parameters/download_parameters.py
  src/Hapi/parameters/parameters.py
  tests/rrm/conftest.py
  tests/rrm/parameters/test_parameters.py
  tests/rrm/parameters/test_parameters_cli.py
  tests/rrm/test_rrm_inputs.py
Due: examples-notebook-check, doctest

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

update example
  examples/hydrological-model/coello-lumped-model-run.py
Due: none

reformat catchment module
  src/Hapi/catchment.py
Due: doctest

fix old imports from statista
  examples/hydrological-model/Jiboa-distributed-model-muskingum-lake.py
  examples/hydrological-model/coello-lumped-model-run-maxbas.py
Due: none

adjust the hbv to be a class not a module
  src/Hapi/catchment.py
  src/Hapi/rrm/distrrm.py
  src/Hapi/rrm/hbv_bergestrom92.py
  src/Hapi/wrapper.py
  tests/Distributed_mode_calib.py
  tests/Lumped_Calibration.py
  tests/Lumped_Run.py
  tests/SensitivityAnalysis.py
  tests/rrm/calibration/test_rrm_calibration.py
  tests/rrm/catchment/test_rrm_catchment.py
Due: doctest

add the `base_model.py` template conceptual model
  src/Hapi/rrm/base_model.py
Due: doctest

add unit test for the hbv bergestrom
  tests/rrm/conceptual/test_hbv_bergestrom.py
Due: none

clean
  src/Hapi/rrm/hbv_bergestrom92.py
Due: doctest

test hbv
  src/Hapi/rrm/hbv.py
  tests/rrm/conceptual/test_hbv.py
Due: doctest

move the `Hapi.rrm.hbvlumped` to the `examples/conceptual-model`
  examples/conceptual-models/hbvlumped.py
Due: none

add comment in old examples for the location of the `hbvlumped` in the `examples/conceptual-models`
  examples/hydrological-model/old examples Hapi 0.3.0/02calib_model_Lumped.py
Due: none

re-organize examples
  .pre-commit-config.yaml
  examples/hydrological-model/Prepare Input Data/__init__.py
  examples/hydrological-model/Prepare Input Data/notebooks/01prepare_inputdata.ipynb
  examples/hydrological-model/Prepare Input Data/notebooks/05_Extract_Distributed_Parameters.ipynb
  examples/hydrological-model/Prepare Input Data/notebooks/Preparedata.ipynb
  examples/hydrological-model/Prepare Input Data/notebooks/Preparedata_notbook.ipynb
  examples/hydrological-model/coello/calibration/coello-hrus-distributed-model-calibratation-muskingum.py
  examples/hydrological-model/coello/calibration/coello-lumped-model-calibration-deap-multiobjective-NSE-NSEHF.py
  examples/hydrological-model/coello/calibration/coello-lumped-model-calibration-deap-multiobjective-NSE-RMSE.py
  examples/hydrological-model/coello/calibration/coello-lumped-model-calibration-deap.py
  examples/hydrological-model/coello/calibration/coello-lumped-model-calibration.py
  examples/hydrological-model/coello/calibration/coello-totally-distributed-model-calibratation-muskingum.py
  examples/hydrological-model/coello/prepare-Input-data/00-coello-data_download.py
  examples/hydrological-model/coello/prepare-Input-data/01-coello-prepare_inputdata.py
  examples/hydrological-model/coello/prepare-Input-data/still_developing/adjust_GIS_data.py
  examples/hydrological-model/coello/run/coello-distributed-model-run-maxbas.py
  examples/hydrological-model/coello/run/coello-lumped-model-run-maxbas.py
  examples/hydrological-model/coello/run/coello-lumped-model-run.py
  examples/hydrological-model/jiboa/Jiboa-distributed-model-muskingum-lake.py
Due: examples-notebook-check

re-organize examples
  examples/hydrological-model/coello/prepare-Input-data/02-align-rasters.py
  examples/hydrological-model/coello/prepare-Input-data/03-rename-files.py
  examples/hydrological-model/coello/prepare-Input-data/04-create_lumped-inputs.py
  examples/hydrological-model/coello/prepare-Input-data/05-extract-distributed-parameters.py
  examples/hydrological-model/coello/prepare-Input-data/06-extract-parameters-bounds-lumped.py
  examples/hydrological-model/coello/prepare-Input-data/07-prepare-rasters.py
  examples/hydrological-model/coello/prepare-Input-data/notebooks/01-prepare-input-data.ipynb
  examples/hydrological-model/coello/prepare-Input-data/notebooks/05-extract-distributed-parameters.ipynb
  examples/hydrological-model/coello/prepare-Input-data/notebooks/Preparedata.ipynb
  examples/hydrological-model/coello/prepare-Input-data/notebooks/prepare-data.ipynb
Due: examples-notebook-check

Path conditions:
  examples-notebook-check: any of: \.ipynb$
  doctest: any of: ^src/.*\.py$
